absl-py==2.3.1
annotated-doc==0.0.4
anyio==4.12.1
av @ file:///D:/bld/av_1696983706307/work
Brotli @ file:///D:/bld/brotli-split_1749229870877/work
carla==0.9.15
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1754231422783/work/certifi
cffi @ file:///D:/bld/cffi_1725560792189/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1754767332901/work
click==8.1.8
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
exceptiongroup==1.3.1
filelock==3.19.1
fonttools==4.60.2
fsspec==2025.10.0
fvcore==0.1.5.post20221221
grpcio==1.78.0
h11==0.16.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hf-xet==1.4.2
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.8.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata==8.7.1
importlib_resources==6.5.2
iopath==0.1.10
Jinja2==3.1.6
joblib==1.5.3
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpointer @ file:///D:/bld/jsonpointer_1725302964849/work
kiwisolver==1.4.7
lap @ file:///D:/bld/lap_1650201541914/work
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
mdurl==0.1.2
mpmath==1.3.0
networkx==3.2.1
numpy==1.24.4
opencv-python-headless==4.8.0.76
packaging==26.0
pandas==2.3.3
parameterized==0.9.0
pillow @ file:///D:/bld/pillow_1751481993665/work
portalocker==3.2.0
protobuf==6.33.6
ptflops==0.7.5
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
Pygments==2.19.2
pyparsing==3.3.2
PySocks @ file:///D:/bld/pysocks_1733217287171/work
python-dateutil==2.9.0.post0
pytorchvideo==0.1.5
pytz==2026.1.post1
pywin32==311
PyYAML==6.0.3
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
rich==14.3.3
safetensors==0.7.0
scikit-learn==1.6.1
scipy @ file:///C:/bld/scipy-split_1716470385682/work/dist/scipy-1.13.1-cp39-cp39-win_amd64.whl#sha256=490e922ef930c40e74290d95915a98295b9059d02849059317bab82ba7810581
shellingham==1.5.4
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
termcolor==3.1.0
threadpoolctl==3.6.0
timm==1.0.26
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tornado @ file:///D:/bld/tornado_1754732005081/work
tqdm==4.67.3
typer==0.23.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
visdom @ file:///home/conda/feedstock_root/build_artifacts/visdom_1677944195650/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1733157342724/work
Werkzeug==3.1.7
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
yacs==0.1.8
zipp==3.23.0
zstandard==0.23.0
